/* first sites */

https://www.caviarchi1818.com/
https://omegaxofficial.com/ == glahpe
https://starmurtimuseum.com/
https://earth-and-moons.myshopify.com/
https://kimjunsu.jp/
https://en.buddelhuus.com/
https://pwoahamxx3ywb1n6-54889873442.shopifypreview.com/pages/degustationen-events
https://aracelibeauty.com/
https://www.germain-tailors.com/
https://meongmeonghanu.com/
https://9rkxdmnw17wbakdz-50479726748.shopifypreview.com
https://mybrushbubble.com/
https://www.tens10.com/
https://worldchef1.myshopify.com/ == twaote
https://cherad-cosmetics.com/
https://essentialsportsnutrition.com/
https://k7pk3up9sb1cd1yq-2922512445.shopifypreview.com 
https://www.airconchamp.com/?fts=0
https://vd7fyqhvfzsqkl2q-2922512445.shopifypreview.com
https://pj4z8f8nuahyde8i-63140462811.shopifypreview.com
https://harvest-dev.myshopify.com/
https://matbakhy-test.myshopify.com/ == https://matbakhy-test.myshopify.com/
https://tumlove.com/
https://grassypatch.com/
https://omggogogo.com/
https://ecobikecompany.com/, https://oceanbottle.co/, https://toddlekind.co.uk/
https://www.curatehome.me/
https://legendnco.com/
https://virtualgiant.co/
https://wearebazoo.com/
https://www.eatuporiginal.com/
https://frameitlenz.com/
https://www-theslimekitchen-com.myshopify.com/?fts=0&preview_theme_id=132789895385
https://laparfaitcosmetics.com/
https://www.bubzybrands.com/
https://gldn-tresses.myshopify.com/ == gldn
https://byakkosports.com/
https://tribuscard.com/ 
https://bandedpines.com/
https://www.kimbocoffee.com/
https://sogoodsoyou.com/
https://klikkphotography.myshopify.com/
https://buzzbud.co/
https://www.vitalsleep.com/
https://tuuskin.com/
https://skin-clinic-freeze-n-clear.myshopify.com/ == tayrig/mohrur
https://bluefrogfilters.com/
https://misocks.co/
https://www.izabelapeters.com/
https://luxtimeco.com/
https://gordini.com/
https://littlekandora.com/
https://amal-by-amal.myshopify.com/
https://crazypouss.fr/
https://www.magicafro.fr/
https://visoenergy.com/
https://gr8nes.com/
https://elia-bathrooms.myshopify.com/
https://jewelmakshop.com/
https://odinnmashop.myshopify.com/
https://rosa-rose.com/
https://flavashotsauce.com/
https://afrometis.myshopify.com == skeuch
https://cotswoldflour.com/
https://alpha-medwear.myshopify.com/ == aoghao
https://mushroompackaging.com/?_ab=0&_fd=0&_sc=1
https://www.naturallyreplenish.com/


/* sec sites */

https://summerhousepatio.com/
https://offpiste.co.nz/
https://osee.co/
https://agr-knit.myshopify.com/
https://shop.eaa.org/
https://vermont-woods-studios.myshopify.com/
https://www.gofastdontdie.com/
https://tom-balding-bits-spurs.myshopify.com/
https://technomate-1123.myshopify.com/
https://casedodo.com/
https://metrixtattoo.myshopify.com/
https://nznurture.com/
https://www.ingoldwetrust-official.com/
https://www.hyperbiotics.com/
https://thelovery.co/
https://www.vosgeschocolate.com/
https://www.i-blason.com/
https://fluidfreeride.com/
https://www.mywallplay.com/
https://nailsuperstore.com/
https://skullvibe.com/
https://wc-rebolt.myshopify.com/
https://supcase.com/
https://tattoosmart.com/
https://bigyfly.myshopify.com/
https://ovationriding.myshopify.com/
https://lekiusa.myshopify.com/
https://vitalnutrientspro.co/
https://casedodo.com/
https://seldens.com/
https://www.compressedairadvisors.com/
https://www.fairhavenhealth.com/
https://almastudio.co.nz/
https://blush-jewels.com/
https://arte-antwerp.com/
https://outeracres.com/

/* third sites */

Anurag L&U:- https://2ee9df.myshopify.com/products/testing-product/
Soma glam L:- https://somaglam.com/
Covertly Mail:- https://covertly.in/
Maelle L&U:- https://margot-et-tita.myshopify.com/
Parampreet kaur L:- https://www.younggear.in/
Peter U:- https://unitykitchens.com.au/
Neelam L:- https://www.yamora.co/
Deepak pandey L:- https://www.figma.com/file/azJ8dJuCVixShp71zuMPFw/Rechargechair?type=design&node-id=0-1&mode=design&t=eWlkA5a5AZhnQ4Ff-0
Neelam L:- https://dev.byniel.com/
Peter Paypal:- https://newcastlecabinetryinnovations.com.au/
Krisha Reference:- https://joylet.com/
Srujan L&U:- https://lumylife.in/
Maelle L&U:- https://stan.bio/
Srujan L:- https://theslasho.com/
Srujan L:- https://chocolatephilosophy.co.in/
Srujan L:- https://www.curiocottage.in/
Srujan L:- https://ivalinmabia.com/
Srujan L:- http://beingbella.myshopify.com/
Srujan L:- https://kloutpwr.com/
Srujan L:- https://svashudhi.com/
Doris L:- https://roccosjewelry.com/
Jufi U:- https://elixirteaindia.myshopify.com/
Maelle L&U:- https://primalsupplements.fr/
Akhil L:- https://www.nadinemerabi.com/
Srujan L:- https://sayitwithapin.com/
Srujan L:- https://www.brewingcricket.com/
Srujan L:- https://abarantimelessjewellery.com/
Srujan L:- https://missmomo.in/
Krishna L:- https://tuckd.co.in/
Karan L:- https://evermoreskincare.com/
Doris L:- https://nygolddiamond.com/
Doris L:- shopify custom app development 
Maelle L&U:- https://nokutch.com/
Jones U:- https://makemeatrainer.com/
Vivek L:- https://store.buckleyfence.com/collections/all/
Vlad U:- https://mitmob.ro/
Hamza U:- https://mobilityworld.co.uk/
Maelle L&U:- https://aminkader.myshopify.com/
Krishna L:- https://www.alokki.com/
Maelle L&U:- https://thephonefrance.myshopify.com/
Srujan L:- https://kivartlabs.com/
Srujan L:- https://divahs.com/
Srujan L:- https://www.palettebath.com/
Maelle L&U:- https://chaff.co/
Brendan U:- https://luxxone.com/pages/limited-time-offer
Ferdi U:- https://bolzr.store/
Srujan L:- https://www.aranyamperfumes.com/
Srujan L:- https://sterlinghouse.in/
Ferdi U:- https://chayas.de/en
Krishna L:- https://thewhiteboxco.in/?_ab=0&_fd=0&_sc=1&preview_theme_id=142673969302
Maelle L&U:- https://couponscouture.fr/
Agency:- https://dinhs.myshopify.com/ 
Maelle L&U:- https://www.chipiron.fr/en?_ab=0&_fd=0&_sc=1&preview_theme_id=177072275832
Srujan L:- https://lachi.in/?_ab=0&_fd=0&_sc=1&preview_theme_id=145284858025
Srujan L:- https://www.gemedible.com/?_ab=0&_fd=0&_sc=1&preview_theme_id=148688503015
Srujan L:- https://blackpoetry.in/?_ab=0&_fd=0&_sc=1&preview_theme_id=142236385434
Srujan L:- https://gotnothingtohide.com/
Krishna L:- https://kwerq-werq.myshopify.com/


/* swiper slider */

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    function initSwiperr() {
      const sliderContentGrid = document.querySelector(".carrousel_slider");
        const swiperContentGrid = new Swiper(sliderContentGrid, {
          slidesPerView: 1,
          spaceBetween: 10,
          autoplay: {
            delay: 3000
          },
          loop: true,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          }
        })
    }
    initSwiperr();
    window.addEventListener("resize", initSwiperr);
  });
</script>


/* get height */
<script>
  document.documentElement.style.setProperty('--announcement-bar-height', `${document.getElementById('shopify-section-{{ section.id }}').clientHeight.toFixed(2)}px`);
</script>

/* sticky atc */                                                                     
window.addEventListener('scroll', function () {
  var element = document.querySelector('.sticky-add-cart');
  var elementHeight = element.offsetHeight;
  var scrollPosition = window.scrollY;
  var windowHeight = window.innerHeight;
  if (scrollPosition > windowHeight - elementHeight) {
    element.classList.add('sticky-visible');
  } else {
    element.classList.remove('sticky-visible');
  }
});

document.querySelector('.sticky-add-cart').addEventListener('click', function() {
const targetElement = document.querySelector('button.product-form__submit');
const targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset;
  window.scrollTo({
      top: targetPosition - 110,
      behavior: 'smooth'
  });
});

<div class="sticky-add-cart">Ajouter au panier</div>


/* slick */

$(".mar-info").slick({
  autoplay: !0,
  autoplaySpeed: 0,
  speed: 1e4,
  arrows: !1,
  swipe: !1,
  slidesToShow: 4,
  cssEase: "linear",
  pauseOnFocus: !1,
  pauseOnHover: !1,
  variableWidth: true,
  responsive: [
    { breakpoint: 1199, settings: { slidesToShow: 3, slidesToScroll: 1 } },
    { breakpoint: 768, settings: { slidesToShow: 2, slidesToScroll: 1 } },
    { breakpoint: 481, settings: { slidesToShow: 2, slidesToScroll: 1 } },
  ],
}),
  $(".banner-info").slick({
    autoplay: !0,
    autoplaySpeed: 0,
    speed: 1e4,
    arrows: !1,
    swipe: !1,
    slidesToShow: 4,
    cssEase: "linear",
    pauseOnFocus: !1,
    pauseOnHover: !1,
    variableWidth: true,
    responsive: [
      { breakpoint: 1199, settings: { slidesToShow: 3, slidesToScroll: 1 } },
      { breakpoint: 768, settings: { slidesToShow: 2, slidesToScroll: 1 } },
      { breakpoint: 481, settings: { slidesToShow: 2, slidesToScroll: 1 } },
    ],
  }),
  $(document).ready(function () {
    var $slider = $(".kommer-slider");
    var $progressBar = $(".progress");
    var $progressBarLabel = $(".slider__label");

    $slider.on(
      "beforeChange",
      function (event, slick, currentSlide, nextSlide) {
        var calc = (nextSlide / (slick.slideCount - 1)) * 100;

        $progressBar
          .css("background-size", calc + "% 100%")
          .attr("aria-valuenow", calc);

        $progressBarLabel.text(calc + "% completed");
      }
    );
    $slider.slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      arrows: false,
      dots: false,
      centerMode: true,
      centerPadding: "160px",
      speed: 300,
      infinite: true,
      autoplaySpeed: 5000,
      autoplay: true,
      responsive: [
        {
          breakpoint: 1500,
          settings: {
            slidesToShow: 3,
          },
        },
        {
          breakpoint: 1260,
          settings: {
            slidesToShow: 2,
            centerPadding: "80px",
          },
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 2,
            centerPadding: "40px",
          },
        },
        {
          breakpoint: 481,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            centerPadding: "20px",
          },
        },
      ],
    });
  });


/* automatic slider */

https://prnt.sc/n0E3YsoiCqJL